* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.hello {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/static/hompage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.logo h2 {
  font-size: 30px;
  color: white;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 2px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 40px 100px;
}
.navbar_tags {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar_tags2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar_tags li,
.navbar_tags2 li {
  margin-right: 80px;
}
.navbar_tags a,
.navbar_tags2 a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hello .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content p,
.content h3 {
  color: white;
  text-transform: uppercase;
}
.content p {
  font-family: "Pattaya", sans-serif;
  font-size: 60px;
  letter-spacing: 6px;
}
.content h3 {
  font-size: 25px;
  letter-spacing: 4px;
}
.scroll {
  height: 50px;
  width: 35px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 16%;
  border-radius: 50px;
  cursor: pointer;
}

.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 40%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll 1s ease-in-out infinite;
}
.scroll::after {
  top: 30%;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}

/*Menu*/
#menu {
  padding: 25px 0 25px 0;
}
#section {
  padding: 25px 0 25px 0;
  text-align: center;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#menu_row {
  display: flex;
  padding: 0 100px 0 100px;
}
#menu_col {
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  flex: 1;
}
#menu_col h2 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: cursive;
}
#image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid orange;
}
#image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

/*Reviews*/
* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
.bg {
  background: url(/static/reviews.jpg);
  background-size: cover;
}
a {
  text-decoration: none;
}
#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.reviews_heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews_heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 10px 20px;
}
.reviews_heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.reviews_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.reviews_box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile {
  display: flex;
  align-items: center;
}
.user_name {
  display: flex;
  flex-direction: column;
}
.user_name strong {
  color: gray;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.user_name span {
  color: #979797;
  font-size: 0.8rem;
}
.comments {
  color: yellowgreen;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.customer_review {
  font-size: 0.9rem;
  color: #4b4b4b;
}
.reviews_box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
@media (max-width: 1060px) {
  .reviews_box {
    width: 45%;
    padding: 10px;
  }
}

/*Reservation*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/static/reservation.jpg);
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .contact h2 {
  font-size: 50px;
  font-weight: 500;
  color: white;
}
.contact .content p {
  font-weight: 300;
  color: white;
  font-size: 24px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon {
  max-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}
.reservationForm {
  width: 40%;
  padding: 40px;
  background: white;
}
.reservationForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.reservationForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.reservationForm .inputBox input,
.reservationForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.reservationForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 17px;
  margin: 11px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.reservationForm .inputBox input:focus ~ span,
.reservationForm .inputBox input:valid ~ span,
.reservationForm .inputBox textarea:focus ~ span,
.reservationForm .inputBox textarea:valid ~ span {
  color: #e91e6e;
  font-size: 12px;
  transform: translateY(-20px);
}
.reservationForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 19px;
}
@media (max-width: 999px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo {
    width: 100%;
  }
}
/*Leave-review*/

.contact1 {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/static/leave_review.jpg);
  background-size: cover;
}
.contact1 .content {
  max-width: 800px;
  text-align: center;
}
.contact1 .contact h1 {
  font-size: 26px;
  font-weight: 300;
  color: white;
}
.contact1 .content p {
  font-weight: 200;
  color: white;
  font-size: 20px;
}
.reservationForm1 {
  width: 40%;
  padding: 40px;
  background: lightblue;
}
.reservationForm1 h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.reservationForm1 .inputBox1 {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.reservationForm1 .inputBox1 input,
.reservationForm1 .inputBox1 textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.reservationForm1 .inputBox1 span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 17px;
  margin: 11px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.reservationForm1 .inputBox1 input:focus ~ span,
.reservationForm1 .inputBox1 input:valid ~ span,
.reservationForm1 .inputBox1 textarea:focus ~ span,
.reservationForm1 .inputBox1 textarea:valid ~ span {
  color: goldenrod;
  font-size: 12px;
  transform: translateY(-20px);
}
.reservationForm1 .inputBox1 input[type="submit"] {
  width: 100px;
  background: midnightblue;
  color: lightblue;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 19px;
}
/*Admin*/
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.background {
  background: url(/static/admin.jpg);
  background-size: cover;
}
.login {
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}
.login h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}
.login p {
  font-size: 20px;
  margin: 15px 0;
}
.login input {
  font-size: 16px;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}
.login button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border-radius: 5px;
  border: 0;
}
